/* Navigation  */

#navbar{
    flex-direction: column;
    /* flex-wrap: wrap;
    
    position: relative;
    justify-content: center;
    align-items: center; */
    /* flex-wrap: wrap; */
}
/* #navbar ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
} */
#navbar ul li{
    padding: 0px 0px;
} 
#navbar ul li a{
    padding: 0px 0px;
    font-size: 1rem;
    margin: 0px 0px;

}

/* Home */
section h1{
    font-size: 1rem;
}
section p{
    font-size: 1px;
}

#home::before{
    height: 300px;
}
#home {

    padding: 3px 0px;
    height: 370px;

}
#prime{
    text-align: center;
    font-size: 1.4rem;
    margin: 0px 2px;
    padding: 0px;

}
#home p{
    font-size: 0.7rem;
    padding: 2px;
    margin: 0px;
}
#but{
    margin: 10px 10px;
    padding: 5px;
    border-radius: 10px;
}
/* Services */
.list{
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
    
}
 div .box{
    margin: 0px 0px 0px 0px;   
    height: 200px;
    width: 200px;
}


/* Clients */
.clients{
    /* overflow: hidden; */
    flex-wrap: wrap;

}
.clients .img img {
    height: auto;
    width: 66px;
    padding: 6px;
  }
/* Contact Us */
#contact form{
    width: 70%;
    /* text-align: center; */
    /* height: 80%; */
}
#btn{
  justify-content: center; 
}
#submit{
    justify-content: center;
    position: relative;
        font-size: 12px;
}
/* Footer */


